# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs
name: CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
      - name: Install Node.js
        uses: actions/setup-node@v4.4.0
        with:
          node-version: 24.4.1
          cache: npm
      - name: Install Dependencies
        run: npm ci --no-fund
      - name: Lint
        run: npm run lint
      - name: Build
        run: npx tsc --build
      - name: Unit Test
        run: npm run test:unit
      - name: Upload schema/
        uses: actions/upload-pages-artifact@v4
        with:
          path: schema
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/deploy-pages@v4
